@function pxToRem($pixels: 16, $font: 16) {
	@return #{$pixels / $font}rem;
}

$colorGreen: #25A95B;
$colorBlue: #1890ff;
$colorDarkBlue: #42506B;
$colorPurple: #7344C0;
$colorGrey: #F6F8FA;
$colorDarkGrey: #8392A6;
$colorLighterGrey: #DCDEE4;
$colorShadow: rgba(0, 0, 0, 0.1);
